
html,body{height: 100%; width: 100%; overflow: hidden;}

#header,#content,#footer{  position: absolute; right: 0; left: 0;}
#header{ height: 60px; top: 0;}
#footer{ height: 35px;  bottom: 0;}
#content{ top:60px; bottom: 35px; overflow: auto; background-color: #222; z-index: -1;}
#nav_header{height: 60px;background: #eee;}
.nav_logo img{height: 32px; padding:12px 36px;}
.nav_navBox {position: absolute;top: 0;right: 0;margin:0px 36px;}
#nav_header .nav_active { background-color:#ff072a;color: #fff;}
.nav_item { float: left; margin-left: 1px; padding: 14px 0px;}
.nav_item a {display: block; line-height: 18px; font-size: 18px; color:#929292; padding: 7px 30px; text-decoration: none;}
.nav_item a:hover{ background-color:#ff072a; color: #fff; }
.nav_child{position: absolute; display: none; width: 210px; border-top: 3px solid #7b7b7b;  margin: 14px -50px;-o-box-shadow: 0 0 15px #aaa;
	-moz-box-shadow: 0 0 15px #aaa;
	-webkit-box-shadow: 0 0 15px #aaa;
	-ms-box-shadow: 0 0 15px #aaa;
	box-shadow: 0 0 15px #aaa;
}
.nav_child a{ background-color:#eee; display: block; height: 50px; font-size: 14px; line-height: 50px; padding: 0px 15px; border-bottom: 1px solid #eee;}
.nav_child a:hover{ background-color:#eee; color:#111;}
.nav_child i{position: absolute; display: none; font-style:normal;color:#111;right: 0;line-height: 50px;font-size: 14px;margin-top: -50px;margin-right: 15px;}


.footer_icon { position: absolute; right: 0; top: 0; margin-right: 15px;}
.footer_icon p{ font-size: 14px; line-height: 16px; margin: 9px 10px; color: #8e8e8e;}
.footer_icon li{float: left;height: 16px;}
.footer_icon img{margin: 8px 10px;height: 16px;}


.share_mask { position: absolute; left: 0; top: 0; right:0; bottom: 0; background-color: black; }
.share_box { position: absolute; width: 200px; text-align: center;}
.share_box img { width: 100% }


.custom_service{ width: 180px; position: absolute; bottom: 35px; right: 0;
			-o-box-shadow: 0 3px 5px #aaa;
			-moz-box-shadow: 0 3px 5px #aaa;
			-webkit-box-shadow: 0 3px 5px #aaa;
			-ms-box-shadow: 0 3px 5px #aaa;
			box-shadow: 0 3px 5px #aaa; }



.custom_service i{width: 20px; height: 20px; display: block; position: absolute;  margin: 10px 20px;  background-repeat: no-repeat;  }
.custom_service p{ text-indent: 50px; }
.custom_service li{ color:#565656; font-size: 16px; line-height: 40px; background: #fff;}
.custom_service .custom_service_title{ color: #fff; font-size: 18px; line-height: 60px; text-indent: 10px; background: #ff072a; }
.custom_service_title div{ transition: 1s;
		-moz-transition: -moz-transform 1s; /* Firefox 4 */
		-webkit-transition: -webkit-transform 1s; /* Safari and Chrome */
		-o-transition: -o-transform 1s; /* Opera */
 width:18px; height: 18px; background-size:18px 18px; background-image: url(../img/close.svg); position: absolute; top: 21px; left: -36px; margin-left: 180px;}
.custom_service_title div:hover{ transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */ }
.custom_service .custom_service_qq i{ background-image: url(../img/qq.svg);  background-size: 40px 20px; }
.custom_service .custom_service_qq a{  color:#565656;  display: block; text-decoration:none;}
.custom_service .custom_service_qq a :hover{ background-color: #ddd;}
.custom_service .custom_service_tel i{ background-image: url(../img/telephone.svg); background-size: 20px;}
.custom_service .custom_service_telNem { text-align: center; }